<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Energywaves</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul ngbNav class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="https://energywaves.eu/" target="_blank">Shop</a>
            </li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Reports</a>
                <div ngbDropdownMenu>
                <button ngbDropdownItem>Current Something</button>
                <button ngbDropdownItem>SomeUsefullReport</button>
                <button ngbDropdownItem>Performance</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>Dashboard</button>
                </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        </div>
    </div>
  </nav>